soap/src/main/resources/static/xml-converter.xsd

<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" xmlns:tns="https://nikituz.ru/soap/"
           targetNamespace="https://nikituz.ru/soap/" elementFormDefault="qualified">
    <xs:element name="getConvertedXmlRequest">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="sourceXmlText" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
    <xs:element name="getConvertedXmlResponse">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="convertedXmlText" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>